@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*Formateo*/
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

a{
    color: hsl(233, 8%, 79%);
    text-decoration: none;
}

aside{
    background: hsl(240, 100%, 5%);
}
/*Contenedores*/

.container{
    width: 80%;
    margin: 0 auto;
    
}


/*Estilos generales*/
.row{
    display: flex;
}

.column{
    flex-direction: column;
}

.grid{
    display: grid;
}

.d-row{
    grid-template-columns: 1fr 2fr;
}

.col-2{
    grid-template-columns: 2fr 1fr;
}

.col2{
    grid-template-columns: repeat(2, 1fr);
}

.items-center{
    align-items: center;
}

.flex-start{
    align-items: flex-start;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}
/*imagenes*/
.img-fluid{
    width: 100%;
    vertical-align: middle;
}

/*unidades y medidas*/
.padding-xs{
    padding: 1rem;
}
.padding-sm{
    padding: 1.5rem;
}
.py-sm{
    padding: 1rem 0;
}

.py-2{
    padding: 2rem 0;
}

.py-3{
    padding: 3rem 0;
}

.py-md{
    padding: 4rem 0;
}

.py-lg{
    padding: 5rem 0;
}

.gap-sm{
    gap: 1rem;
}

.gap-md{
    gap: 2rem;
}

.gap-lg{
    gap: 4rem;
}
/*el boton*/
.btn{
    background-color: hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    font-weight: 700;
    border: 0;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
    display: inline-block;
}

/*parrafos*/

.p0-5{
    font-size: 13px;
    font-weight: 500;
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
}
.p1{
    font-size: 15px;
    font-weight: 500;
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
}

.p2{
    font-size: 15px;
    font-weight: 400;
    color: hsl(36, 100%, 99%);
    line-height: 2;
}

.titulo{
    color: hsl(35, 77%, 62%);
    font-weight: 800;
    font-size: 50px;
}

.subtitulo{
    color: hsl(36, 100%, 99%);
    font-weight: 700;

}

.titulo2{
    color: hsl(5, 85%, 63%);
    font-weight: 800;
    font-size: 30px;
}

/*eslogan*/
.eslogan{
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1;
}

/*transiciones y animaciones*/
a:hover{
    color:hsl(5, 85%, 63%);
}




